{% extends "base_template.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<link href="../static/sytles/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="../static/sytles/signin.css" rel="stylesheet">
<main class="form-signin">
  <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
    <img class="mb-4" src="../static/sytles/supervoices.png" alt="">
       <br>
       <br>
      <label for="form-control">Email</label>
        {{ form.usuario(class_="form-control form-control-sm") }}
      <label for="form-control">Contraseña</label>
        {{ form.password(class_="form-control form-control-sm") }}
      {{ form.submit(class_="w-100 btn btn-lg btn-primary ") }}

   <div>¿No tienes cuenta? <a href="{{ url_for('registro') }}">Regístrate</a></div>
    <p class="mt-5 mb-3 text-muted" align="center">&copy; Equipo 9 2022</p>

  </form>
</main>
{% endblock %}